.askWrapper {
  --color-theme-main: #1b56ff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  .askWrapperInner {
    width: 100%;
    height: calc(60vh - 68px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    .messageWrapper {
      width: 100%;
      padding: 20px 0;
      flex: 1;
      box-sizing: border-box;
      overflow: scroll;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;

      .meContainer {
        align-self: flex-end;
        margin-bottom: 12px;
        margin-left: 24px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;

        .me {
          word-break: break-all;
          padding: 12px;
          gap: 10px;
          margin-right: 10px;
          border-radius: 12px 0px 12px 12px;
          background: var(--color-theme-main, #1b56ff);
          color: #fff;
          font-family: 'PingFang SC';
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }

        .errorBtn {
          width: 32px;
          height: 32px;
          background: transparent;
          padding: 0;
          border-radius: 50%;
          margin-right: 8px;

         

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;

          .errorIcon {
            cursor: pointer;
          }
          &:active {
            border: none;
          }
        }
      }

      .opContainer {
        margin-bottom: 32px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;

        .op {
          padding: 12px;
          margin-right: 24px;
          margin-bottom: 8px;
          gap: 8px;
          align-self: stretch;
          border-radius: 0px 12px 12px 12px;
          background: var(--color-bg-accent-gray-subtle-default, #f5f6fa);
          font-size: 16px;
          color: #101114;
          font-weight: 400;
          line-height: 24px;
        }

        .reviewContainer {
          align-self: flex-end;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: row;

          .review {
            margin-right: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 12px;

            .thumbIcon__good {
              border-radius: 50%;
              width: 28px;
              height: 28px;
              padding: 4px;
              box-sizing: border-box;
              border: none;
              cursor: pointer;
              background: var(--color-bg-accent-gray-subtle-default, #f5f6fa);
            }

            .thumbIcon__navigator {
              width: 28px;
              height: 28px;
              padding: 4px;
              box-sizing: border-box;
              border-radius: 50%;
              border: none;
              cursor: pointer;
              background: var(--color-bg-accent-gray-subtle-default, #f5f6fa);
              transform: rotate(180deg);
            }
          }
        }
      }

      .op_streamContainer {
        align-self: flex-start;
        margin-bottom: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 0px 12px 12px 12px;
        padding: 12px;
        margin-right: 24px;
        background: var(--color-bg-accent-gray-subtle-default, #f5f6fa);
        font-size: 16px;
        color: #101114;
        font-weight: 400;
        line-height: 24px;
        gap: 0px;

        .op_streamContainer__loading {
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #101114;
          flex-shrink: 0;
          animation: breath 0.6s infinite;

          @keyframes breath {
            0% {
              transform: scale(1);
            }

            50% {
              transform: scale(1.5);
            }

            100% {
              transform: scale(1);
            }
          }
        }
      }
    }

    .askModalAlertContainer {
      height: 48px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      gap: 5px;
    }

    .textAreaContainer {
      width: 100%;
      margin-top: 4px;
      flex-shrink: 0;
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      border-radius: 12px;

      .textArea {
        border-radius: 12px;
        padding: 12px 35px 12px 12px;
        border: 1px solid var(--color-theme-main);
        background: linear-gradient(91deg, #f8f6ff 0.18%, #f3f9ff 97.91%);
      }

      .askModalSendText {
        position: absolute;
        right: 10px;
        bottom: 7px;
        border-radius: 8px;
        height: 28px;
        background: var(--color-theme-main);
        outline: none;
        font-size: 14px;
        color: #fff;
        font-weight: 400;
        line-height: 20px;
      }

      .askModalSendText__noContent {
        position: absolute;
        right: 10px;
        bottom: 7px;
        border-radius: 8px;
        height: 28px;
        background: var(--color-bg-accent-gray-bolder-disable, #e4e6ed);
        outline: none;
        font-size: 14px;
        color: #fff;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
}

.errorTip {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  line-height: 16px;
}
